body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;  
}

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
a {
  color: black;
	text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header-gray-wrapper {
  width: 100%;
  margin-bottom: 80px;

  background-color: #eeeeee;
}
.site-wrapper {
  width: 1440px;
  margin: 0 auto;
  padding: 0px 140px;
}
.three-columns {
  display: flex;
}
.header-nav ul,
.user-nav,
.slider-list,
.advantages-list,
.studio-offer-list,
.studio-statistics-list,
.partners-list,
.footer-nav,
.products-list,
.sorting-position,
.user-sorting-position,
.pagination-list,
.feature-filter-list,
.grid-filter-list {
  list-style: none;
}
.studio-offer-list {
  margin: 0;
  padding: 0;
}
.header-nav-item {
  line-height: 30px;
  font-weight: 500;

  text-transform: uppercase;
}
.user-nav-item {
  position: relative;

  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;

  padding-left: 42px;
}
.slide-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  width: 520px;

  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}
.slide-text {
  width: 360px;

  margin-bottom: 39px;

  color: #283136;
}
.advantage-title {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  text-transform: uppercase;
}
.advantage-text {
  margin-bottom: 35px;

  width: 250px;

  color: #283136;
}
.button {
  display: block;

  border-radius: 4px;

  color: #ffffff;
  line-height: 18px;
  font-weight: 500;

  text-transform: uppercase;
  cursor: pointer;
}
.header-nav ul {
  display: flex;

  margin: 0;
  padding: 0;
  padding-top: 25px;
}
.user-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.header-nav-item {
  margin-right: 47px;
}
.header-nav-item:hover a,
.user-nav-item:hover a {
  color: #fb565a;
}
.header-nav-item:active a,
.user-nav-item:active a {
  color: #a6a6a6;
}
.user-nav-item svg {
  position: absolute;
  left: 0;
  top: 6px;
}
.header-nav {
  width: 440px;
}
.logo-link {
  margin-right: 200px;
}
.logo-link svg {
  margin-bottom: -7px;
}
.logo-link:hover svg {
  opacity: 0.8;
}
.logo-link:active svg {
  opacity: 0.3;
}
.user-nav {
  padding: 0;
  padding-top: 25px;
  margin: 0;
  margin-left: auto;
}
.slider-list {
  margin: 0;
  padding: 0;
}
.studio-info-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.studio-info-text {
  margin-bottom: 39px;
  margin-top: 35px;

  color: #283136;
}
.studio-offer-title {
  font-weight: 700;
  text-transform: uppercase;

  margin-bottom: 23px;
}
.studio-offer-item {
  position: relative;
  margin-bottom: 25px;
  padding-left: 37px;

  color: #283136;
}
.studio-offer-item:last-child {
  margin-bottom: 0;
}
.studio-offer-item::before {
  content: "";

  position: absolute;
  width: 25px;
  height: 2px;
  left: 0;
  top: 10px;

  background-color: #fb565a;
}
.studio-statistics-title {
  font-weight: 700;

  text-align: center;
  text-transform: uppercase;
  margin-bottom: 53px;
}
.studio-statistics-item {
  line-height: 18px;
  color: #283136;
}
.statistics-percent {
  display: inline-block;
  margin-bottom: 34px;

  font-size: 45px;
  line-height: 10,06px;
  font-weight: 700;

  color: #000000;
}
.footer-info {
  padding-top: 7px;
}
.footer-info-title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}
.footer-info-text {
  line-height: 22px;
  color: #444444;
}
.advantages-list {
  display: flex;
  justify-content: space-between;

  padding: 0;  
}
.advantages {
  position: relative;

  margin-bottom: 120px;
}
.advantages::after {
  content: "";

  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;

  bottom: -80px;
}
.advavantages-item {
  margin: 0;
  margin-right: 100px;
}
.advavantages-item img {
  margin-bottom: 18px;
}
.advavantages-item:nth-child(3n) {
  margin-right: 60px;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  position: relative;

  margin-bottom: 125px;
}
.two-columns::after {
  content: "";

  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;

  bottom: -73px;

}
.studio-info {
  width: 660px;
  
  padding-top: 33px;
}
.main-header {
  padding-top: 50px;
}
.slider-item {
  padding-top: 77px;
  padding-bottom: 80px;
  padding-right: 35px;

  background-repeat: no-repeat;
  background-position: right 1px top 0px;
}
.slider-item:nth-child(1) {
  background-position: right 31px top 17px;
}
.slider-item:nth-child(3) {
  background-position: right 0px top 18px;
}
#slide-1:checked ~ .site-wrapper .slider-item {
  background-image: url(../img/slide1.png);
}
#slide-2:checked ~ .site-wrapper .slider-item {
  background-image: url(../img/slide2.png);
}
#slide-3:checked ~ .site-wrapper .slider-item {
  background-image: url(../img/slide3.png);
}
.map iframe {
  position: absolute;
  width: 100%;
  top: 0;

  border: none;
}
.map {
  position: relative;
  min-height: 415px;
  padding-right: 840px;
  margin-bottom: 70px;
}
.map-container {
  position: relative;
  
  width: 320px;
  margin: 0 auto;
}
.partners {
  position: relative;

  margin-bottom: 115px;
}
.partners::after {
  content: "";

  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;

  bottom: -36px;
}
.partners-list {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0;
  padding-left: 32px;
}
.partners-item {
  display: flex;
  align-items: center;
  position: relative;

  min-height: 87px;
}
.partners-item:nth-child(n+2)::before {
  content: "";

  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  top: 10px;
  left: -48px;
}
.partners-item:nth-child(4n+3)::before {
  left: -61px;
}
.partners-item:nth-child(4n+4)::before {
  left: -62px;
}
.partners-item img {
  opacity: 0.2;
}
.partners-item:hover img {
  opacity: 1.0;
}
.partners-item:active img {
  opacity: 0.1;
}
.partners-item:nth-child(n) {
  margin-right: 95px;
}
.partners-item:nth-child(2n) {
  margin-right: 102px;
}
.partners-item:nth-child(3n) {
  margin-right: 118px;
}
.partners-item:nth-child(4n) {
  margin-right: 43px;
}
.main-footer {
  display: flex;

  padding-bottom: 70px;
}
.footer-nav {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  margin-right: 137px;
}
.footer-nav-item {
  position: relative;
  margin-right: 11px;

  width: 80px;
  height: 80px;
  border-radius: 50%;

  background-color: #e1e1e1;
}
.footer-nav-item:nth-child(3n) {
  margin-right: 0px;
}
.footer-nav-item:hover {
  background-color: #e74246;
  cursor: pointer;
}
.footer-nav-item:active {
  background-color: #d7373b;
  cursor: pointer;
}
.footer-nav-item:active a::after {
  opacity: 0.3;
}
.studio-statictics {
  width: 360px;
}
.studio-statictics img {
  margin-bottom: 11px;
}
.studio-statistics-list {
  display: flex;

  padding: 0;
  margin: 0;
}
.studio-statistics-item {
  display: flex;
  flex-direction: column;

  margin-right: 19px;
}
.studio-statistics-item:nth-child(3n+2) {
  margin-right: 17px;
}
.advantage-link {
  width: 160px;
  padding: 16px 39px;
}
.advavantages-item:nth-child(3n+1) .advantage-link {
  background-color: #fb565a;
}
.advavantages-item:nth-child(3n+1) .advantage-link:active {
  background-color: #d7373b;
}
.advavantages-item:nth-child(3n+2) .advantage-link {
  background-color: #00ca74;
}
.advavantages-item:nth-child(3n+3) .advantage-link {
  background-color: #efc84a;
}
.advavantages-item:nth-child(3n+2) .advantage-link:hover {
  background-color: #00bc6c;
}
.advavantages-item:nth-child(3n+2) .advantage-link:active {
  background-color: #00aa62;
}
.advavantages-item:nth-child(3n+3) .advantage-link:hover {
  background-color: #eab534;
}
.advavantages-item:nth-child(3n+3) .advantage-link:active {
  background-color: #e5a722;
}
.slide-button {
  width: 240px;
  padding: 16px 50px 15px 54px;

  background-color: #fb565a;
}
.slide-button:hover,
.write-us-button:hover,
.advavantages-item:nth-child(3n+1) .advantage-link:hover,
.contacts-button:hover,
.product-price:hover {
  background-color: #e74246;
}
.slide-button:active,
.write-us-button:active,
.advavantages-item:nth-child(3n+1) .advantage-link:active,
.contacts-button:active,
.product-price:active {
  background-color: #d7373b;
}
.slide {
  display: none;
}
#slide-1:checked ~ .site-wrapper #slide1,
#slide-2:checked ~ .site-wrapper #slide2,
#slide-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
.button:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}
.button:active span {
  opacity: 0.3;
}
.contacts {
  position: absolute;
  top: 55px;
  left: 0px;

  width: 320px;
  padding: 50px;
  padding-bottom: 48px;

  background-color: #ffffff;
}
.contacts-title {
  display: inline-block;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  margin-bottom: 23px;
}
.contacts-adress,
.contacts-telephone {
  width: 203px;

  line-height: 18px;
  color: #666666;
}
.contacts-adress {
  margin: 0;
  margin-bottom: 18px;
}
.contacts-telephone {
  margin: 0;
  margin-bottom: 35px;
}
.contacts-button {
  text-align: center;
  padding: 19px 40px 15px 40px;

  background-color: #fb565a;
}

.slider {
  position: relative;
}

.slider-controls label {
  display: inline-block;
  position: relative;

  width: 18px;
  height: 18px;
  margin-right: 18px;

  vertical-align: top;

  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls {
  position: absolute;
  bottom: 90px;
  left: 535px;
  z-index: 20;
  
  font-size: 0;
}
#slide-1:checked ~ .site-wrapper label[for="slide-1"]::before,
#slide-2:checked ~ .site-wrapper label[for="slide-2"]::before,
#slide-3:checked ~ .site-wrapper label[for="slide-3"]::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 20;
  width: 8px;
  height: 8px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.write-us {
  width: 960px;
  padding: 70px 100px 85px 100px;

  background-color: #ffffff;
}
input[type="text"],
input[type="email"] {
  width: 360px;
  border: none;
  border-radius: 3px;
  border: 2px solid #d7dcde;
  padding: 15px;
}
.wrire-us-title {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.write-us-button {
  margin: 0;
  padding: 17px 80px;

  background-color: #fb565a;
}
.text-form {
  width: 760px;
  padding: 15px;
  margin-bottom: 50px;
  min-height: 120px;
  resize: none;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
.text-form::placeholder {
  color: #a1a1a1;
}
.write-us-form-two-columns {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}
.footer-nav-item a::after {
  content: "";

  position: absolute;
  width: 26px;
  height: 28px;

  background-repeat: no-repeat;
  background-position: center;
}
.nav-item-vk::after {
  top: 28px;
  left: 26px;

  background-image: url(../img/vk-icon.svg);
}
.nav-item-fb::after {
  top: 27px;
  left: 27px;

  background-image: url(../img/fb-icon.svg);
}
.nav-item-inst::after {
  top: 27px;
  left: 27px;

  background-image: url(../img/insta-icon.svg);
}
.statistics-percent sup {
  font-size: 28px;
  line-height: 10px;
}
.write-us button {
  border: none;
}
.write-us {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: -480px;
  z-index: 20;

  box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);
}
.close-button {
  position: absolute;
  top: 80px;
  right: 90px;

  font-size: 0;
  cursor: pointer;
}
.close-button::before,
.close-button::after {
  content: "";
  
  position: absolute;

  width: 3px;
  height: 20px;

  background-color: #fb565a;
  opacity: 0.3;
}
.close-button::before {
  transform: rotate(-45deg);
}
.close-button::after {
  transform: rotate(45deg);
}
.catalog-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;

  margin: 0;
  margin-top: 77px;
  padding: 0;
  padding-bottom: 108px;
}
.nav-item-current {
  position: relative;
}
.nav-item-current::after {
  content: "";

  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 74px;
  height: 2px;
  background-color: #fb565a;
}
.catalog-header-wrapper {
  margin-bottom: 55px;
}
.catalog-two-columns {
  display: flex;
  justify-content: space-between;

  margin-bottom: 60px;
}
.filters {
  width: 280px;

  margin-right: 135px;
}
.products {
  padding-top: 3px;
  width: 820px;
}
.products-title {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;

  margin-right: 265px;
  margin-bottom: 97px;
  padding-left: 2px;
}
.product-description {
  display: none;

  width: 360px;
  min-height: 230px;
  padding: 32px 20px 45px 20px;

  text-align: center;
  background-color: #eeeeee;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}
.products-item {
  position: relative;

  margin: 0;
  padding: 0;
  margin-bottom: 66px;
}
.products-item:nth-last-child(-n+2) {
  margin-bottom: 0;
}
.products-item::before {
  content: "";

  position: absolute;
  width: 360px;
  height: 40px;
  top: -39px;
  left: 0px;

  background-image: url(../img/browser.svg);
  opacity: 0.12;
}
.products-item:hover::before {
  opacity: 1;
}
.products-item:hover .product-description {
  display: block;
  position: absolute;
  bottom: 0;
}
.product-label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  
  width: 200px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.product-info {
  font-size: 16px;
  line-height: 18px;
  width: 230px;
  margin: 0 auto;
  margin-bottom: 30px;

  color: #666666;
}
.product-price {
  width: 200px;
  padding: 17px 60px;
  margin: 0 auto;

  background-color: #fb565a;
}
.sorting-wrapper {
  display: flex;
}
.sorting-position li,
.user-sorting-position li {
  margin: 0;
  padding: 0;

  text-transform: uppercase;
}
.sorting-position {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 270px;
  margin: 0;
  margin-right: 50px;
  padding: 0;
  padding-bottom: 45px;
  padding-top: 3px;
}
.sorting-item {
  font-size: 14px;
  line-height: 18px;
  
  opacity: 0.3;
}
.sorting-item:hover {
  opacity: 0.6;
}
.sorting-item:active {
  opacity: 1.0;
}
.current-sorting-position {
  opacity: 1.0;
}
.user-sorting-position {
  display: flex;
  justify-content: space-between;

  width: 40px;
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
}
.pagination-list {
  display: flex;

  margin: 0;
  padding: 0;
  padding-left: 1px;
}
.pagination-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  min-width: 50px;
  
  padding: 16px 17px 14px 17px;
  
  margin-right: 11px;
  border-radius: 5px;
  color: #000000;
  background-color: #eeeeee;
  cursor: pointer;
}
.pagination-item-long {
  text-transform: uppercase;
  padding: 16px 78px 13px 78px;
}
.filter-button {
  padding: 17px 90px 15px 90px;

  border: none;
  outline: none;
  color: #000000;
  background-color: #eeeeee; 
}
.pagination-item:hover,
.filter-button:hover {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}
.pagination-item:active,
.filter-button:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}
.pagination-item:active a {
  color: #b7b7b7;
}
.pagination-item-current {
  padding: 13px 14px 11px 14px;
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}
.legend-filter {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.grid-filter,
.feature-filter,
.cost-filter {
  padding: 0;
  border: none;
}
.cost-filter {
  width: 260px;

  margin-bottom: 53px;
}
.grid-filter {
  margin-bottom: 25px;
}
.feature-filter {
  margin-bottom: 30px;
}
.grid-filter-item,
.feature-filter-item {
  font-size: 16px;
  line-height: 20px;

  margin-bottom: 20px;

  color: #283136;
}
.feature-filter-list,
.grid-filter-list {
  margin: 0;
  padding: 0;
  padding-left: 35px;
}
.radio-inditicator,
.checkbox-inditicator {
  position: relative;
}
.radio-inditicator::before {
  content: "";

  position: absolute;
  width: 25px;
  height: 25px;
  left: -36px;
  top: -3px;

  opacity: 0.4;
  background-image: url(../img/radio-off.svg);
}

.checkbox-inditicator::before {
  content: "";

  position: absolute;
  width: 27px;
  height: 23px;
  left: -35px;
  top: -3px;

  opacity: 0.4;
  background-image: url(../img/checkbox-off.svg);  
  background-repeat: no-repeat;
}
.checkbox-inditicator:hover::before,
.radio-inditicator:hover::before {
  opacity: 1;
  cursor: pointer;
}

.grid-filter-item input[type="radio"]:checked + .radio-inditicator::before {
  background-image: url(../img/radio-on.svg);
}
.feature-filter-item input[type="checkbox"]:checked + .checkbox-inditicator::before {
  background-image: url(../img/checkbox-on.svg);
}
.min-price,
.max-price {
  font-size: 16px;
  line-height: 22px;

  color: #283136;
}
.price-controls {
  display: flex;
  justify-content: space-between;

  text-transform: uppercase;
}
.price-controls input {
  width: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;

  text-align: center;
  background-color: #eeeeee;
  border: none;
}
.cost-range-controls {
  padding: 38px 20px 40px 20px;
  margin-top: 49px;
  margin-bottom: 14px;

  border-radius: 3px;
  background-color: #eeeeee;
}
.price-bar {
  position: relative;

  height: 2px;
  background-color: #d7dcde;
}
.colored-price-bar {
  position: absolute;

  height: 2px;
  width: 145px;
  background-color: #00ca74;
  z-index: 3;
}
.toggle {
  position: absolute;

  width: 20px;
  height: 20px;
  
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 3px 1px 0 #cfcfcf;

  z-index: 30;
  cursor: pointer;
}
.left-toggle {
  top: -9px;
  left: -3px;
}
.right-toggle {
  top: -9px;
  right: 62px;
}
.legend-grid {
  margin-bottom: 16px;
}
.legend-feature {
  margin-bottom: 16px;
}
.sorting-down svg {
  transform: rotate(-180deg);
}
.user-sorting-position li {
  opacity: 0.2;
}
.user-sorting-position li:hover {
  opacity: 0.5;
}
.user-sorting-position li:active {
  opacity: 1.0;
}
.user-sorting-position .active-sorting-position {
  opacity: 1.0;
}








